#columns {
    background: linear-gradient(#0B486B, #F56217) !important;
}

#masthead {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c) !important;
}

.ytd-page-manager {
    background: linear-gradient(#B7F8DB, #50A7C2) !important;
}

.ytd-guide-renderer {
    background: linear-gradient(#96deda, #50c9c3) !important;
}
